{% extends "base.html" %}
{% block title %}
	FAQ: Amrita and Sudhir's Wedding
{% endblock %}

{% block content %}
<h1>Things You Probaby Want To Know</h1>
<dl>
<dt>What do we do between the Wedding and the Reception?</dt>
<dd>The Wedding will start at 4:30 PM and should be over by 5:30 PM, so until the Reception (an hour and a half later) you could chill at the church with a cup of coffee, powder your nose, or head to Connemara to grab the best seats.</dd>
<hr/>
<dt>What do we bring the couple?</dt>
<dd>Very good question. We're both getting each other and that's pretty much all we want. However, if you do feel obliged to give us something, we'd actually prefer cash or vouchers. Sudhir is also hoping someone will buy him an iPhone 4S, a Canon Rebel T3i and a MacBook Pro, but that might just be wishful thinking.</dd>
<hr/>
<dt>Is there a color theme or dress code?</dt>
<dd><a href="http://www.youtube.com/watch?v=vabnZ9-ex7o&ob=av2e">No.</a></dd>
<hr/>
<dt>Who we gonna call?</dt>
<dd>Sudhir's phones (+91 98844 52197, +91 97890 63705) will most likely be manned by someone else on the wedding day, but you can call for directions, information and other queries. Amrita's phone number is +91 98846 06610, but it's going to be very busy on the wedding day.</dd>
<hr/>
<dt>Are you going to call me personally or send an invite?</dt>
<dd>If you're reading this, probably not :-) We're up to our necks in preparations, so we hope you're not too offended. We sincerely hope you'll come anyway.</dd>
</dl>
<footer><a href="/">home</a></footer>

	
{% endblock %}