{% extends "base.html" %}
{% block title %}
	FAQ: Amrita and Sudhir's Wedding
{% endblock %}

{% block content %}
<h1>Things You Probaby Want To Know</h1>
<dl>
<dt>What do we do between the Wedding and the Reception?</dt>
<dd>The Wedding should be over by 5:30 PM, so until the Reception (an hour and a half later) you could chill at the church (there's going to be High Tea), powder your nose, or head to Connemara to grab the best seats.</dd>
<hr/>
<dt>What do we bring the couple?</dt>
<dd>Very good question. Since we anticipate an abundant influx of frying pans and rice cookers, what we'd actually like is cash or vouchers. Sudhir is also hoping someone will buy him an iPhone 4S, a Canon Rebel T3i and a MacBook Pro, but that might just be wishful thinking.</dd>
<hr/>
<dt>Is there a color theme or dress code?</dt>
<dd><a href="http://www.youtube.com/watch?v=vabnZ9-ex7o&ob=av2e">No.</a></dd>
<hr/>
<dt>Who we gonna call?</dt>
<dd>Sudhir's phones (+91 98844 52197, +91 97890 63705) will most likely be manned by someone else on the wedding day, but you can call for directions, information and other queries.</dd>
<hr/>
<dt>Are you going to call me personally or send an invite?</dt>
<dd>If you're reading this, probably not :-) We're up to our necks in preparations, so we hope you're not too offended. We sincerely hope you'll come anyway (with gifts).</dd>
</dl>
<footer><a href="/">home</a></footer>

	
{% endblock %}